USE [master]
GO
/****** Object:  Database [OrderDb]    Script Date: 29/12/2025 23:20:56 ******/
CREATE DATABASE [OrderDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\OrderDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrderDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\OrderDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderDb]
GO
/****** Object:  User [local_sa]    Script Date: 29/12/2025 23:20:56 ******/
CREATE USER [local_sa] FOR LOGIN [local_sa] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_datareader] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [local_sa]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 29/12/2025 23:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[data_hora_inicio] [datetime] NOT NULL,
	[data_hora_confirmacao] [datetime] NULL,
	[data_hora_inicio_preparo] [datetime] NULL,
	[data_hora_termino_preparo] [datetime] NULL,
	[data_hora_retirada_cliente] [datetime] NULL,
	[id_pagamento] [int] NULL,
	[id_status_pedido] [int] NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_pedido]    Script Date: 29/12/2025 23:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_pedido](
	[id_status_pedido] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Status_pedido] PRIMARY KEY CLUSTERED 
(
	[id_status_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Status_pedido] FOREIGN KEY([id_status_pedido])
REFERENCES [dbo].[Status_pedido] ([id_status_pedido])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Status_pedido]
GO
USE [master]
GO
USE [OrderDb]
GO
SET IDENTITY_INSERT [dbo].[Status_pedido] ON 
INSERT [dbo].[Status_pedido] ([id_status_pedido], [status]) VALUES (1, N'Pagamento pendente')
INSERT [dbo].[Status_pedido] ([id_status_pedido], [status]) VALUES (2, N'Recebido')
INSERT [dbo].[Status_pedido] ([id_status_pedido], [status]) VALUES (3, N'Em preparação')
SET IDENTITY_INSERT [dbo].[Status_pedido] OFF
GO

